:root {
	--main: #29A4FF; /* find a better colour, lighthouse calls this shade of blue an accessibility issue */
}
.send-message-form > div {
	margin: auto;
	width: calc(100% - 4em);
	padding: 0.5em 0;
	display: block;
	padding-bottom: 0;
}
.post {
	padding: 1em;
	margin: 0 1em;
}
.post > .time {
	float: right;
}

.post > .message-wrapper {
	border-radius: 1em;
	border-top-left-radius: 0; /* is this intentional? */
	background-color: white;
	padding: 1em;
	min-height: 4em;
}
#sendmsg > .msg-entry-wrapper {
	padding-top: 1em;
}
#sendmsg > .msg-entry-wrapper > textarea {
	padding: 1em;
	width: 100%;
	height: 10vh;
	resize: none;
	border-radius: 0.75em;
	font-family: Verdana, sans-serif;
	font-size: 13px;
	border: none;
}

#postbox {
	overflow-y: scroll;
	flex-shrink: 0;
	flex-grow: 1;
	flex-basis: 0;
	height: 100%;
}

#postbox > .post:first-of-type {
	margin-top: 1em;
}

#postbox > .post:last-of-type {
	margin-bottom: 3em;
}

#container {
	font-family: Verdana, sans-serif;
	font-size: 13px;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

#SendForm {
	flex-shrink: 1;
	flex-grow: 0;
}

body {
	background: #F5F5F5;
	font-family: Verdana, sans-serif;
	font-size: 13px;
	margin: 0;
}

hr {
	display: none
}

.post > .time, .post > .author {
	color: var(--main);
	display: inline-block;
	padding-bottom: 0.4em;
}

.send-message-form {
	background: var(--main);
	padding: 2em 0;
}

.msg-entry-wrapper, .name-group, .button-group {
	display:inline-flex;
}

.msg-entry-wrapper, .name-group {
	width: 100%
}

.button-group > button {
	background: transparent;
	border: none;
	color: white;
	padding-left: 1.5em;
}

#sendmsg > .name-group > #author {
	width: 100%;
	border-radius: 0.75em;
}

#sendmsg > .name-group > label, .msg-entry-wrapper > label {
	visibility: hidden;
}
#sendmsg > .name-group > input {
	padding: 1em;
	font-family: Verdana, sans-serif;
	font-size: 13px;
	border: none;
}

.name-group > .button-group {
	visibility: hidden;
}

.post > .author {
padding-left: 1em;
}

.post > .time {
padding-right: 1em;
}