.send-message-form > div {
	margin: auto;
	width: 80%;
	border: 3px solid black;
	padding: 10px;
	display:block;
	padding-bottom: 0;
	border-radius: 0.5em;
}
#sendmsg > button {
	float: right;
}
.post {
	background-color: lightgray;
	padding: 1em;
	margin: 3em 1em;
	border-radius: 0.5em;
}
.post > .time {
	float: right;
}
.send-message-form {
	margin-top: 3em;
}
.post > .message-wrapper {
	padding: 1em 0;
}
#sendmsg > .msg-entry-wrapper {
	padding-top: 1em;
}
#sendmsg > .msg-entry-wrapper > textarea {
	width: 100%;
	height: 20vh;
	resize: vertical;
}

#postbox {
	height:50vh;
	overflow-y: scroll;
}

#postbox > .post:first-of-type {
	margin-top: 0;
}

#postbox > .post:last-of-type {
	margin-bottom: 1em;
}

#container {
	font-family: sans-serif;
}

body {
	margin: -1em 8px;
}