:root {
	--main: #29A4FF;
}
.send-message-form > div {
	margin: auto;
	width: 80%;
	padding: 10px;
	display:block;
	padding-bottom: 0;
	border-radius: 0.5em;
}
.post {
	padding: 1em;
	margin: 0 1em;
}
.post > .time {
	float: right;
}
.send-message-form {
	margin-top: 3em;
}
.post > .message-wrapper {
	border-radius: 0.5em;
	background-color: white;
	padding: 1em;
}
#sendmsg > .msg-entry-wrapper {
	padding-top: 1em;
}
#sendmsg > .msg-entry-wrapper > textarea {
	padding: 1em;
	width: 100%;
	height: 10vh;
	resize: vertical;
	border-radius: 0.5em;
	font-family: sans-serif;
}

#postbox {
	height:50vh;
	overflow-y: scroll;
}

#postbox > .post:first-of-type {
	margin-top: 0;
}

#postbox > .post:last-of-type {
	margin-bottom: 1em;
}

#container {
	font-family: sans-serif;
}

body {
	margin: -1em 0;
	background: #F5F5F5;
}

hr {
	display: none
}

.post > .time, .post > .author {
	color: var(--main);
}

.send-message-form {
	position: fixed;
	bottom: 0;
    width: 100%;
	background: var(--main);
	padding: 2em 0;
}

.msg-entry-wrapper, .name-group, .button-group {
	display:inline-flex;
}

.msg-entry-wrapper, .name-group {
	width: 100%
}

.button-group > button {
	background: transparent;
	border: none;
	color: white;
}

#sendmsg > .name-group > #author {
	width: 100%;
	border-radius: 0.5em;
}

#sendmsg > .name-group > label, .msg-entry-wrapper > label {
	visibility: hidden;
}
#sendmsg > .name-group > input {
	padding: 1em;
}

.name-group > .button-group {
	visibility: hidden;
}